<footer>
  <p class="text">Copyleft {% year %}.</p>
  <a href="https://mastodon.social/@sai" class="social-link" rel="me">
    <img src="/assets/img/mastodon.svg" alt="link to my Mastodon profile" class="icon" loading="lazy">
  </a>
  <a href="https://www.linkedin.com/in/saifulmuhajir/" class="social-link" rel="me">
    <img src="/assets/img/linkedin.svg" alt="link to my LinkedIn profile" class="icon" loading="lazy">
  </a>
  <a href="https://github.com/saifulmuhajir" class="social-link" rel="me">
    <img src="/assets/img/github.svg" alt="link to my Github profile" class="icon" loading="lazy">
  </a>
  <a href="https://saifulmuhajir.web.id/feed.xml" class="social-link" rel="me">
    <img src="/assets/img/rss-feed.svg" alt="link to my RSS feed" class="icon" loading="lazy">
  </a>
</footer>
