<header>
  <nav class="brand">
    <a href="/" class="brand-name" title="link to home page">Bob Monsour</a>
    <img class="brand-image" alt="picture of Bob" src="https://media.licdn.com/dms/image/C5603AQGrKwuKOB0oIg/profile-displayphoto-shrink_800_800/0/1517745186175?e=2147483647&v=beta&t=r_n7o1Q4hmfyCckM6pQwwnFW3GMtA2dj88P7hmH6r3c">
    <ul class="brand-nav">
      {% for link in site.mainNavLinks %}
        <li>
          <a href="{{ link.url }}"
            {% if page.url == link.url %} aria-current="page" class="nav-link" {% else %}class="nav-link" {% endif %}>{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
